<div *ngIf="loading" class="text-center text-gray-500 mt-8 text-lg">Loading parcel details...</div>

<div *ngIf="!loading && parcel" class="max-w-xl mx-auto mt-8 p-6 bg-white rounded-xl shadow-lg space-y-4">
  <h2 class="text-2xl font-bold text-center text-blue-600">{{ parcel.title }}</h2>

  <div class="space-y-2 text-gray-700">
    <p><span class="font-semibold">📍 Pickup:</span> {{ parcel.pickupAddress }}</p>
    <p><span class="font-semibold">🎯 Destination:</span> {{ parcel.destination }}</p>
  </div>
  <div id="map" class="max-w-4xl mx-auto mt-6 rounded-lg overflow-hidden shadow-lg" style="height: 400px;"></div>
</div>

